<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザ一覧</title>
<meta name="description" content="ユーザ一覧">
<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script th:inline="javascript">
    $(function(){
        var modalesectiontable = $("#userTbl").DataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": true,
            "bSort": true,
            "bInfo": false,
            "bAutoWidth": false,
            "ajax": { url: 'http://localhost:8080/user/allusers', dataSrc: '' },
            "columns": [
                { data: "userid" },
                { data: "username" },
                { data: "userpswd" },
                { data: "userclass" },
                {
                	data: "userid",
                	render: function(data, type, row) {
                		var result = "";
                		if (type === "display") {
                			result = '<a href="http://localhost:8080/user/mod?userid=' + data + '">更新</a> | <a href="http://localhost:8080/user/del?userid=' + data + '">削除</a>';
                		}
            			return result;
                	}
                },
            ],
            "columnDefs": [
                { targets: 0, width: 30 },
                { targets: 1, width: 120 },
                { targets: 1, width: 80 },
                { targets: 1, width: 50 },
                { targets: 1, width: 200 },
                { targets:'_all',className : 'dt-head-center'},
            ]
        });
    })
</script>
</head>
<body>
	<label style="font-size: 15pt">登録ユーザ一覧</label>
    <table id="userTbl" style="width: 450px;">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>PW</th>
                <th>CLS</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <a href="http://localhost:8080/user/add">新規ユーザ追加</a>
</body>
</html>